body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-toolbar {
    background-color: #f8d7da;
    padding: 10px;
    text-align: center;
}

.content {
    display: flex;
    flex-grow: 1;
}

.left-toolbar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    
}

.viewport {
    flex-grow: 1;
    background-color: #e0e0e0;
    position: relative;
}

.right-sidebar {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.hierarchy, .templates {
    flex: 1;
    background-color: #ffeeba;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.dialog button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

.dialog {
    display: none; /* Initially hidden */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it's on top */
}

.dialog input[type="number"] {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#threeCanvas {
    width: 100%;
    height: 100%;
}

#hierarchyCanvas {
    width: 100%;
    height: 150px; /* Set a fixed height for the hierarchy canvas */
    background-color: #d8d8d8;
}
